# This is a Terraform-managed file; manual changes will be overwritten.
# see https://github.com/workloads/github-organization/blob/main/templates/gitignores/terraform.gitignore

**/.terraform/*
*.tfstate
*.tfstate.*
terraform.tfvars
