# see https://github.com/settings/tokens
ghcr_token = "ghp_..."
ghcr_user  = "..."

# see https://dashboard.ngrok.com/api
ngrok_apikey    = "..."

# see https://dashboard.ngrok.com/get-started/your-authtoken
ngrok_authtoken = "..."

# see https://dashboard.ngrok.com/cloud-edge/domains
ngrok_domain = "kubecon-eu-2023.ngrok.dev"